tilted@font-face {
    src: url(../fonts/Lato-Regular.ttf);
    src: url(../fonts/Vollkorn.ttf);
}
body {
  margin: 0;
  background-color: #C8E8F5;
}
title {
  display: flex;
}
.hpcolour{
  background-color: #327893ff;
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent,#327893ff);
  border-radius: 6px;
  background-color:#bc145dff;
}
.small {
  font-size: 10px;
  font-family: sans-serif;
}
.side img {
  align-items: center;
}
/* Sticky Navbar*/
#navbar {
 overflow: hidden;
 background-color: #bc145dff;
 font-size: 20px;
 padding: 10px;
}
#navbar a {
 margin-left: 50px;
 float: right;
 display: block;
 color: #32091b;
 text-align: center;
 padding: 14px;
 text-decoration: none;
}
#navbar a:hover{
  color: #fbc915;
}
#navbar a:nth-child(-n+4) {
 float: left;
 display: block;
 color: #32091b;
 text-align: center;
 padding: 14px;
 text-decoration: none;
}
#navbar a:nth-child(-n+4):hover{
  color: #fbc915;
}
#navbar a img{
  width: 70px;
  height: 70px;
  position: absolute;
  left: 47.5%;
  top: 0
}
.content {
 padding: 16px;
}
.sticky {
 position: fixed;
 top: 0;
 width: 100%;
}
.sticky + .content {
 padding-top: 60px;
}
/*Title*/
h1 {
  margin-top: 250px;
  margin-left: 30px;
  font-family: Vollkorn;
  color: #FBC915;
  font-size: 100px;
  animation: typing 3s steps(28);
  overflow: hidden;
  white-space: nowrap;
}
@keyframes typing {
  0% {
    width: 0ch;
  }
  100% {
    width: 28ch;
  }
}
.tilted {
  margin-right: 80px;
  margin-top: -400px;
  float: right;
}
.tilted img{
  max-width: 450px;
}
.text {
  display: flex;
  margin-top: 100px;
  margin: 50px;
  background-color: #C8E8F5;
  font-family: sans-serif;
  font-size: 15px;
}
.two{
  padding-left: 60px;
}
.side {
  background-color: #327893;
  float: right;
  min-width: 260px;
  display: inline;
  max-height: 400px;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  margin-top: 30px;
}
.side img{
  align-items: center;
}
h4 {
  font-size: 30px;
}
.text p {
  margin-right: 8%;
  font-size: 30px;
  text-shadow:
}
section {
  position: static;
  width: 100%;
  height: 16vh;
  background: #C8E8F5;
  overflow: hidden;
}
section .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../images/wave.png);
  background-size: 1000px 100px;
}
section .wave.wave1{
  animation: animate 10s linear infinite;
  z-index: 1000;
  opacity: 0.7;
  animation-delay: 0s;
  bottom: 0;
}
section .wave.wave2{
  animation: animate2 5s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
section .wave.wave3{
  animation: animate3 2s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 0;
}
section .wave.wave4{
  animation: animate4 6s linear infinite;
  z-index: 997;
  opacity: 0.4;
  animation-delay: -6s;
  bottom: 0;
}
@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}
@keyframes animate3 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}

@keyframes animate4 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}
#footer {
  bottom: 0;
  width: 100%
}
