@font-face {
  src: url(fonts/Vollkorn-Black.ttf);
}
body {
  margin: 0;
  background-color: #C8E8F5;
  font-family: Vollkorn;
}
.hpcolour{
  background-color: #327893ff;
}
/* Sticky Navbar*/
#navbar {
 overflow: hidden;
 background-color: #bc145dff;
 font-size: 20px;
 padding: 10px;
}
#navbar a {
  margin-left: 50px;
 float: right;
 display: block;
 color: #32091b;
 text-align: center;
 padding: 14px;
 text-decoration: none;
}
#navbar a:hover{
  color: #fbc915;
}
#navbar a:nth-child(-n+4) {
 float: left;
 display: block;
 color: #32091b;
 text-align: center;
 padding: 14px;
 text-decoration: none;
}
#navbar a:nth-child(-n+4):hover{
  color: #fbc915;
}
#navbar a img{
  width: 70px;
  height: 70px;
  position: absolute;
  left: 47.55%;
  top: 0
}
.content {
 padding: 16px;
}
.sticky {
 position: fixed;
 top: 0;
 width: 100%;
}
.sticky + .content {
 padding-top: 60px;
}
/*Title*/
h1 {
  margin-top: 210px;
  margin-left: 30px;
  font-family: Vollkorn;
  color: #FBC915;
  font-size: 100px;
}
.imageflower {
  margin-right: 30px;
  margin-top: -640px;
  float: right;
}
.imageflower img{
  max-width: 275px;
}
.imagephotographer {
  margin-right: 330px;
  margin-top: -390px;
  float: right;
}
.imagephotographer img{
  max-width: 275px;
}
.grid{
  width: 90%;
  margin-left: 75px;
  margin-top: 75px;
  display: grid;
  grid-gap: 75px;
  grid-template-columns: repeat(3, 1fr);
}
.items{
  background: #327893;
  color: #32091B;
  max-height: 355px;
  max-width: 355px;
}
.items > img{
  max-height: 355px;
}
